<mat-toolbar color="primary" role="heading" *ngIf="!showSearch" class="mat-elevation-z5">
    <mat-icon>image</mat-icon>
    <span class="expand">Buscador de imagenes</span>
    <span class="toolbar-spacer"></span>
    <button (click)="showSearch = true" mat-icon-button>
        <mat-icon>search</mat-icon>
    </button>
</mat-toolbar>
<mat-toolbar role="searching" *ngIf="showSearch" class="mat-elevation-z5">
    <mat-form-field [floatLabel]="'never'" class="toolbar-spacer">
        <input matInput appAutoFocus (keyup.esc)="showSearch = false" (keyup.enter)="search()"
            placeholder="Buscar" [(ngModel)]="searchText" />
    </mat-form-field>
    <button (click)="search()" mat-icon-button>
        <mat-icon>send</mat-icon>
    </button>
    <button (click)="cancelSearch()" mat-icon-button>
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>