<div>
  <div class="close">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>
    <h4 mat-card-title>{{ data.photo.user.name }}</h4>
    <h5 mat-card-subtitle>{{ data.photo.user.username }}</h5>
  </div>
  <div mat-dialog-content class="image-container">
    <lib-ngx-image-zoom
      [thumbImage]="data.photo.urls.regular"
      [fullImage]="data.photo.urls.full"
      zoomMode="toggle"
    ></lib-ngx-image-zoom>
  </div>
  <div id="buttonWrapper">
    <p><i>(Pulsa en la imagen para aumentar la resolucion)</i></p>
  </div>
  <h4>{{ data.photo.description }}</h4>
  <h4>{{ data.photo.alt_description }}</h4>
  <div>
    <p>
      <mat-icon class="likes" color="primary">thumb_up</mat-icon>
      {{ data.photo.likes }}
    </p>
    <p>Fecha: {{ data.photo.created_at | date: "dd/MM/yyyy HH:mm:ss" }}</p>
    <mat-chip-list>
      <mat-chip *ngFor="let category of data.photo.categories">
        {{ category }}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
