<mat-card class="card-photo mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>
      {{ collection.title }}
    </mat-card-title>
    <mat-card-subtitle>
      <p *ngIf="collection.description">{{ collection.description }}</p>
      <p>{{ 'Fotos: ' + collection.total_photos }}</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="image-container">
      <img
        mat-card-image
        [src]="collection.cover_photo.urls.regular"
        alt="Foto de la coleccion"
      />
    </div>
  </mat-card-content>
</mat-card>
