<mat-card class="mat-elevation-z8">
    <mat-card-header>
      <img
        mat-card-image
        [src]="collection.cover_photo.urls.regular"
        alt=""
      />
    </mat-card-header>
    <!-- <mat-card-content>
      <p>
        {{ photo.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a
        mat-button
        [href]="photo.links.download_location"
        target="_blank"
        download
        >Descargar</a
      >
    </mat-card-actions> -->
  </mat-card>
  